body {
    background: #7159c1;
    color: white;
}

input {
    height: 30px;
    margin: 5px;
}

button {
    height: 35px;
    width: 65px;
    background-color: black;
    color: white;
}

h1 {
    margin: 5px;
}

a {
    color: white;
}